.cb-level-info {
  color: #2271b1;
  font-weight: bold;
}
.cb-level-warning {
  color: #dba617;
  font-weight: bold;
}
.cb-level-error {
  color: #b32d2e;
  font-weight: bold;
}
.cb-details.cb-collapsed {
  display: none;
}
